@import url('./reset.css');

@font-face {
    font-family: Lato-black;
    src: url('../fonts/lato-black.eot');
    src: url('../fonts/Lato-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-black.woff2') format('woff2'),
         url('../fonts/Lato-black.woff') format('woff'),
         url('../fonts/Lato-black.ttf') format('ttf'); ;
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Lato-bold;
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Bold.woff2') format('woff2'),
         url('../fonts/Lato-Bold.woff') format('woff'),
         url('../fonts/Lato-Bold.ttf') format('ttf'); ;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Lato-normal;
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/Lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-regular.woff2') format('woff2'),
         url('../fonts/Lato-regular.woff') format('woff'),
         url('../fonts/Lato-regular.ttf') format('ttf'); ;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Lato-light;
    src: url('../fonts/lato-light.eot');
    src: url('../fonts/Lato-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-light.woff2') format('woff2'),
         url('../fonts/Lato-light.woff') format('woff'),
         url('../fonts/Lato-light.ttf') format('ttf'); ;
    font-weight: 300;
    font-style: normal;
}

.header {
    min-height: 75px;
    background-color: #222222;
        margin: 0 auto;
        padding-top: 18px;
        box-sizing: border-box;

    &__container {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &__sidebar {
            display: flex;
            align-items: flex-end;

            &__logo {
                margin-right: 41px;
            }
        }

        &__button-box {
            display: flex;
            align-items: flex-end;

            &__menu-btn {
                padding: 0;
                background-color: #222222;
                border: none;

                &__pic {
                    fill: #E8E8E8;
                }

                &__pic:hover {
                    fill: #F16D7F;
                }
            }

            &__link {
                margin-left: 33px;
            }
        }
    }
    &__nav {
        visibility: hidden;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 1;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 34px 37px;

        &__pic-x {
            position: absolute;
            top: 16px;
            right: 16px;
            fill: #6F6E6E;

        }

        &__pic-x:hover {
            transform: scale(1.2);
        }
    }

    &__button-box__menu-btn__pic:checked .header__nav {
        visibility: visible;  /* почему-то не работает(( */
    }
}

.main {
    &__brand {
        height: 764px;
        background-color: #F1E4E6;
        margin: 0 auto;
        display: flex;
        
        &__title {
            margin-left: 92px;
            align-self: center;
            text-transform: uppercase;
            font-family: 'Lato-bold';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 38.4px;
            position: relative;

            &__big {
                font-family: 'Lato-black';
                font-weight: 900;
                font-size: 48px;
                line-height: 57.6px;
                display: block;
            }

            &__color {
                color: #F16D7F;
            }
        }
        &__title::before {
            content: '';
            background-color: #F16D7F;
            width: 12px;
            height: 92px;
            position: absolute;
            left: -28px;
            top: 2px;
        }

    }
    &__sales {
        margin: 0 auto;
        margin-top: 65px;
        position: relative;
        max-width: 1140px;
        
        &__title {
            visibility: hidden;
            position: absolute;
        }
        &__list {

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &__item {
                width: 360px;
                height: 260px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                &__text {
                    font-family: Lato-normal;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    text-align: center;
                    color: #FFF;
                }
                &__caption {
                    font-family: Lato-bold;
                    font-size: 24px;
                    line-height: 28.8px;
                    text-align: center;
                    color: #F16D7F;
                }
            }
            &__item:nth-child(1) {
                background-image: url(../img/pic-for-women.jpg);
            }
            &__item:nth-child(2) {
                background-image: url(../img/pic-for-men.jpg);
            }
            &__item:nth-child(3) {
                background-image: url(../img/pic-for-kids.jpg);
            }
            &__item:nth-child(4) {
                background-image: url(../img/ACCESORIES.jpg);
                width: 1140px;
                height: 180px;
                margin-top: 30px;
            }
        }
    }
    &__fetured {
        margin: 0 auto;
        margin-top: 96px;
        max-width: 1140px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__title {
            width: 100%;
            font-family: Lato-normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 36px;
            text-align: center;
            margin-bottom: 6px;
            color: #222222;
        }
        &__text {
            width: 100%;
            font-family: Lato-normal;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            margin-bottom: 48px;
            color: #9F9F9F;

        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &__item {
                max-width: 360px;
                
                &__caption {
                    text-transform: uppercase;
                    font-family: 'Lato-normal';
                    font-size: 13px;
                    line-height: 16px;
                    margin: 25px 18px 0 18px;
                    font-family: Lato;
                    font-size: 13px;
                    line-height: 16px;
                    color: #000000;
                }
                &__lead {
                    font-family: 'Lato-light';
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                    color: #5D5D5D;
                    margin: 13px 18px 0 18px;
                }
                &__price {
                    font-family: Lato-normal;
                    font-size: 16px;
                    line-height: 19px;
                    color: #F16D7F;
                    margin: 18px 18px 50px 18px;
                }
            }
        }
        &__btn {
            display: block;
            min-width: 210px;
            min-height: 47px;
            border: 1px solid #FF6A6A;
            font-family: 'Lato-normal';
            font-size: 16px;
            line-height: 19px;
            color: #FF6A6A;
            margin: 0 auto;
            margin-top: 18px;
            margin-bottom: 95px;
        }
        &__btn:hover {
            background-color: #FF6A6A;
            color: #fff;
        }
        &__btn:active {
            transform: scale(1.01);
        }
    }
    &__advantages {
        min-height: 341px;
        background-color: #222224;
        position: relative;
        &__title {
            visibility: hidden;
            position: absolute;
        }
        &__list {
            max-width: 1140px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                max-width: 360px;
                &__caption {
                    font-family: 'Lato-normal';
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #FBFBFB;
                    margin-top: 163px;

                }
                &__text {
                    font-family: 'Lato-light';
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FBFBFB;
                    text-align: center;
                    margin-top: 16px;
                }
                
            }
            &__item:nth-child(1)::before {
                content: url("../img/free-delivery.svg");
                position: absolute;
                width: 45px;
                height: 32px;
                top: 103px;
            }
            &__item:nth-child(2)::before {
                content: url("../img/discounts-pic.svg");
                position: absolute;
                width: 45px;
                height: 32px;
                top: 104px;
            }
            &__item:nth-child(3)::before {
                content: url("../img/quality-assurance.svg");
                position: absolute;
                width: 45px;
                height: 32px;
                top: 103px;
            }
            
        }
       
    }
    &__title-section {
        min-height: 148px;
        background-color: #F8F3F4;
        box-sizing: border-box;
        padding-top: 59px;
        &__title {
            display: block;
            max-width: 1140px;
            margin: 0 auto;
            font-family: Lato-normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #F16D7F;
            text-transform: uppercase;
            
        }
    }
    &__registration {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__form {
            max-width: 360px;
            margin-top: 64px;
            &__wrap {
                display: flex;
                flex-wrap: wrap;
                position: relative;
                &__title {
                    font-family: 'Lato-light';
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                    color: #222222;
                    margin-bottom: 20px;
                }
                &__caption-hidden {
                    visibility: hidden;
                    position: absolute;
                }
                &__input {
                    width: 100%;
                    height: 45px;
                    font-family: 'Lato-light';
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 16px;
                    margin-bottom: 20px;
                    border: 1px solid #A4A4A4;

                    &::placeholder {
                        color: #B1B1B1;
                    }
                }
                &__caption {
                    margin: 10px 20px 35px 27px;
                    position: relative;
                    
                    input[type=radio] {
                        margin-right: 10px;
                        width: 17px;
                        height: 17px;
                        position: absolute;
                        left: -27px;
                        top: -1px;
                    } 
                }
                &__text {
                    font-family: 'Lato-light';
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 16px;
                    color: #B1B1B1;
                    margin-bottom: 39px;
                }
            }
            &__sub-button {
                min-width: 167px;
                min-height: 50px;
                background-color: #F16D7F;
                font-family: 'Lato-normal';
                font-weight: 400;
                font-size: 14px;
                color: #fff;
                text-transform: uppercase;
                border: none;
                margin-bottom: 96px;
                position: relative;
                
                &::after { /* Почему не работает не понимаю((? */
                    content: '';
                    display: inline-flex;
                    width: 17px;
                    height: 10px;
                    background: url('../img/arrow.png') center no-repeat black;
                    position: absolute;
                    top: 0;
                    right: 0;
                    border: 1px solid red;
                    
                }
            }
        }
        &__loyalty {
            max-width: 652px;
            margin-top: 64px;
            font-family: 'Lato-light';
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #000;
            &__title {
                text-transform: uppercase;
                margin-bottom: 22px;
            }
            &__text {
                margin-bottom: 21px;
            }
            &__list {
                &__item {
                    margin-left: 30px;
                    margin-bottom: 16px;
                    position: relative;
                    &::before {
                        content: '';
                        display: inline-flex;
                        width: 20px;
                        height: 16px;
                        background: url('../img/check-mark.png') center no-repeat;
                        left:-30px;
                        top: 5px;
                        position: absolute;
                        
                        

                    }
                }
            }
        }
    }
}
.footer {
    &__subscribe {
        background: url(../img/footer-background.jpg) center no-repeat grey;
        background-size: cover;
        min-height: 448px;
        display: flex;

        &__box {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__img {
                margin-top: 97px;
                margin-bottom: 30px;
                border-radius: 50%;
            }
            &__text {
                font-family: 'Lato-normal';
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #222224;
                max-width: 360px;
            }
        }
        &__column {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            

            &__title {
                font-family: 'Lato-bold';
                font-weight: 700;
                font-size: 24px;
                line-height: 167.2%;
                text-align: center;
                color: #222224;
                text-transform: uppercase;
                margin-top: 150px;

                &__subtitle {
                    display: block;
                    font-family: 'Lato-normal';
                    font-weight: 400;
                    font-size: 18px;
                }
            }
            &__send {
                margin-top: 32px;
                display: flex;

                &__inpt {
                    height: 49px;
                    width: 256px;
                    border-radius: 24.5px 0 0 24.5px;
                    padding-left: 22px;
                    font-family: Lato-normal;
                    font-size: 14px;
                    line-height: 17px;
                    display: flex;
                    align-items: center;
                    color: #222224;
                    background-color: #E1E1E1;
                    border: none;
                }
                &__btn {
                    height: 49px;
                    width: 100px;
                    border-radius: 0 24.5px 24.5px 0;
                    font-family: 'Lato-normal';
                    font-size: 14px;
                    line-height: 17px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    background-color: #F16D7F;
                    color: #FFFFFF;
                    border: none;
                }
                &__btn:hover {
                    background-color: #E05C6E;
                }
                &__btn:active {
                    background-color: #fff;
                    color: #E05C6E;
                }
            }
        }
    }
    &__rights {
        min-height: 79px;
        background-color: #222224;
        
        &__conteiner {
            max-width: 1140px;
            min-height: 79px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__title {
                font-family: 'Lato-normal';
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #FBFBFB;
            }
            &__box {
                display: flex;
                justify-content: center;
                align-items: center;

                &__link {
                    margin-left: 7px;

                    &__pic {
                        fill: white;
                    }
                    &__pic:hover {
                        fill: #F16D7F;
                    }
                    &__pic:active {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}